<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @viteReactRefresh()
  @vite(['resources/css/app.css'])
  @vite(['resources/js/app.jsx'])
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" env={{ JSON.stringify({ API_URL: apiUrl }) }}/>
</body>
</html>