.form-control,
.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.body {
  background-color: rgb(255, 0, 85);
}

.navbar {
  background-color: #4a7494;
}

.filtro {
  display: flex;
  justify-content: center;
}

input[type='text']:valid {
  border-color: #9d2d88; /* Substitua pelo código da cor desejada */
}

div div ul li details summary {
  color: aliceblue;
}

div div ul li a {
  color: aliceblue;
}

#btnModal {
  display: flex;
  justify-content: center;
}

.filtro {
  color: #707681;
}

tbody {
  tr {
    td {
      .niveis {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.badge {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

div button #sair {
  background-color: #4a7494;
  margin: 0.5rem;
  width: 10rem;
  padding: 0px 5px;
}

.btn {
  margin: 0.5rem;
}
