TZ=UTC
PORT=3333
HOST=localhost
API_URL=http://${HOST}:${PORT}/api/v1
LOG_LEVEL=info
APP_KEY=KU5Pi3NpXsEni2NSHRxBtPe-xHnBmldZ
NODE_ENV=development
TOKEN_SECRET=KU5Pi3NpXsEni2NSHRxBtPe-xHnBmldZ
TOKEN_EXPIRES=604800
SESSION_DRIVER=cookie
DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root #postgres
DB_PASSWORD=root
DB_DATABASE=fraterniddade
DB_SSL=false