input:valid {
  border-color: #9d2d88;
  margin-bottom: 2rem;
}

.w-full {
  width: 30rem;
}

.form-header {
  font-size: 2rem;
  font-weight: 600;
}

.form-header::after {
  content: '';
  display: block;
  width: 21rem;
  height: 0.4rem;
  background-color: #9d2d88;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}
